{
  "trailingComma": "all",
  "overrides": [
    {
      "files": [
        "*.tsx",
        "*.ts",
        "*.js",
        "*.jsx"
      ],
      "options": {
        "parser": "jsdoc-parser"
      }
    }
  ]
}